abstract.aux
abstract.fdb_latexmk
abstract.fls
abstract.log
abstract.out
abstract.synctex.gz
bibliography.aux
epilog.aux
chap01.aux
chap02.aux
chap03.aux
chap04.aux
macros.aux
pdfa.xmpi
preface.aux
thesis.aux
thesis.bbl
thesis.fdb_latexmk
thesis.fls
thesis.lof
thesis.log
thesis.out
thesis.synctex.gz
thesis.toc
thesis.aux
title.aux